/*generics*/
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.app-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}


footer
{
    height: 80px;
    background-color: grey;
    flex-shrink: 0;
}

.central-wrapper {
    /*height: calc(100% - 160);*/
    background-color: rgb(157, 48, 48);
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    
}

main {
    flex-grow: 1;
    overflow: auto;
}

.sidebar {
    width: 80px;
    background-color: rgb(29, 28, 30);
    flex-shrink: 0;
}

/*immagini*/
.logo {
    padding-top: 10px;
    margin-left:10px;
}

.figure {
    padding-top:10px;
    margin-left:10px;
    border-radius: 50%;
}
    
    



