/*bootstrap icons*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

/*generics*/
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.app-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}


footer
{
    height: 80px;
    background-color: #2d2d35;
    flex-shrink: 0;

    nav {
        display: flex;
        justify-content: space-around;
        margin-top: 16px;
        

        a {
            display: flex;
            flex-direction: column;
            color: white;
            align-items: center;
            text-decoration: none;
        }
    }
}

.central-wrapper {
    /*height: calc(100% - 160);*/
    background-color:#1c1d22;
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    
}

main {
    flex-grow: 1;
    overflow: auto;
}

.sidebar {
    width: 80px;
    background-color: #141318;
    flex-shrink: 0;
    
}

/*immagini*/
.logo {
    padding-top: 10px;
    margin-left:10px;
}

.figure {
    padding-top:10px;
    margin-left:10px;
    border-radius: 50%;
}
    
.screen {
    border-radius: 50%;
}   

/*posizionamento ultimo figlio footer*/
a:nth-last-child(1) {
    transform: translateY(-11px);
}


