/*bootstrap icons*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

/*generics*/
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.app-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}


footer
{
    height: 80px;
    background-color: #2d2d35;
    flex-shrink: 0;

    nav {
        display: flex;
        justify-content: space-around;
        margin-top: 16px;
        

        a {
            display: flex;
            flex-direction: column;
            color: white;
            align-items: center;
            text-decoration: none;
        }
    }
}

.central-wrapper {
    /*height: calc(100% - 160);*/
    background-color:#1c1d22;
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    
}

main {
    flex-grow: 1;
    overflow: auto;
}

.sidebar {
    width: 80px;
    background-color: #141318;
    flex-shrink: 0;
    
}

/*immagini*/
.logo {
    padding-top: 10px;
    margin-left:10px;
}

.figure {
    padding-top:10px;
    margin-left:10px;
    border-radius: 50%;
}
    
.screen {
    border-radius: 50%;
}   

/*posizionamento ultimo figlio footer*/
a:nth-last-child(1) {
    transform: translateY(-11px);
}

/*contenuto principale*/
h1 {
    color: white;
    padding:20px;
}


/*bottone e icon*/
button {
    border-radius:13px;
    padding:8px 79px 7px 135px;
    margin-left: 15px;
    background-color:#373a43;
    color:white;
    transform: translateY(-13px);
    background: transparent;
}

.bi-search::before {
    font-size: 18px;
    color: white;
    transform: translateY(-10px);
    margin-left: 16px;
    border: 11px solid gray;
    border-radius: 51%;
    background-color: gray;
}

/*card*/
.rossi {
    vertical-align: middle;
    padding-top:10px;
    margin-left:10px;
    border-radius: 100%;
    
}

p {
    display:inline;
    vertical-align: middle;
    color: white;
    font-size: large;
}

.paragraph {
    transform: translate3d(51px, -13px, 4px);
    color:white;
    display: block;
    font-size:small;
}